.pagination_wrapper {
    margin-top: 5rem;

    .pagination {
        justify-content: center;
        gap: 1rem;
        flex-wrap: wrap;
        .page-link {
            background-color: #E9E9E9;
            width: 5rem;
            height: 5rem;
            font-size: 1.8rem;
            font-weight: 600;
            border: 0;
            box-shadow: none;
            display: grid;
            place-content: center;
            color: #8F8F8F;
            transition: all .15s ease;

            &.active, &:hover {
                background-color: #828282;
                color: $color__white;
            }
        }
    }
}